﻿@using System.Globalization;
@using System.Threading;
@using System.IO;
@using Bingoo.Models;
@using System.Text.Json;
@using Toolbelt.Blazor.SpeechSynthesis;

<div class="container-fluid">
    @* <div class="row">
    <div class="col-md-12 text-right mb-4">
    <h3><i>created by Giuseppe Veriello</i></h3>
    </div>
    </div> *@
    <div class="row">
        <div class="col-md-4 text-left">
            <div class="btn-group" role="group" aria-label="Player buttons">
                <button type="button" class="btn btn-lg btn-light rounded-circle" disabled="@(IsStarted)" data-toggle="modal" data-target="#buyedAndPricedCartel"><i class="fa-2x fa-solid fa-play p-2"></i></button>&nbsp;
                <button type="button" class="btn btn-lg btn-light rounded-circle" disabled="@(!IsStarted)" @onclick="Pause"><i class="fa-2x fa-solid fa-pause p-2"></i></button> &nbsp;
                <button type="button" class="btn btn-lg btn-light rounded-circle" disabled="@(!IsStarted || IsPaused)" @onclick="Stop"><i class="fa-2x fa-solid fa-stop p-2"></i></button><br />
                <span class="text-center" style="margin-left: 10px; margin-right: 10px; font-size: 50px;">|</span>
              <button type="button" class="btn btn-lg btn-light rounded-circle" data-toggle="modal" data-target="#manageCartel"><i class="fa-2x fa-solid fa-edit p-2"></i></button> &nbsp;
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h1>Let's Bingoo!</h1>
            <h4 class="text-danger font-weight-bold blinking-text" hidden="@(!IsPaused)">Gioco in pausa</h4>
            <h4 class="text-danger" hidden="@(SpeechAvailable)">Attenzione: voce non disponibile</h4>
        </div>
        <div class="col-md-2 offset-md-2 text-center">
            <h5>Velocità di gioco: @GameVelocity</h5>
            <input type="range" class="form-control-range" min="1" max="5" step="1" @bind="@Velocity" @bind:event="oninput" />
        </div>
    </div>    <br /> <br />

    <div class="row">
        <div class="col-md-3">
            <div class="trophy-card c-bingoo border border-secondary bg-white">
                <div class="container-fluid">
                    <h2><i class="fa-solid fa-trophy text-warning"></i> Bingoo</h2>
                    <h5 class="lead">Premio: € @Bingo()</h5>
                </div>
            </div>
            <div class="trophy-card c-cinquina border border-secondary bg-white">
                <div class="container-fluid">
                    <h3><i class="fa-solid fa-trophy text-warning"></i> Cinquina</h3>
                    <h5 class="lead">Premio: € @Cinquina()</h5>
                </div>
            </div>
            @if(LastNumberExtracted != 0)
            {
                <div class="text-center mt-5 mb-3 border border-secondary" style="border-radius: 10px; padding: 20px">
                    <h3>Ultimi estratti</h3>
                    <div class="d-flex justify-content-center">
                        <div class="last-extracted-circle text-dark rounded-circle" style="background-color: red;">
                            <span style="color: white;" class="text-center">@(LastNumberExtracted.Value.ToString() ?? "-")</span>
                        </div>

                        @foreach (var number in Last4ExtractedNumbers)
                        {
                            <div style="margin-left: -2px; padding: 5px">
                                <div class="circle text-dark rounded-circle" style="background-color: black">
                                    <span style="color: white" class="number text-center">
                                        @number
                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="text-center">
                    <h5 class=""><i>Totale numeri estratti:</i> @TotExtractedNumbers</h5>
                </div>
            }
        </div>
        <div class="col-md-9">
            @for (int row = 0; row < 9; row++)
            {
                <div style="margin-top:1%;" class="row">
                    @for (int number = Convert.ToInt32($"{row}{1}"); number < Convert.ToInt32($"{row + 1}{1}"); number++)
                    {
                        <div class="col-md-1" style="margin-left: 10px">
                            <div class="circle text-dark rounded-circle" style="background-color: @(IsExtracted(number) ? "red": "white");">
                                <span style="color: @(IsExtracted(number) ? "white": "black");" class="number text-center">@number</span>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>                                <br />  <br />


    <div class="row" style="margin-top: 5%">
        <div class="col-md-4 text-center mb-4">


            <div class="alert alert-danger" role="alert" hidden="@(NoErrors)">
                @Errors
            </div>
            <div class="card mb-3 rounded-pill">
            </div>
            <hr />
            <h4>Totale cartelle caricate: @TotCartelle</h4>
            <div class="row text-center">
                <div class="col-auto">
                    <button class="card bg-primary text-white border-dark mb-3 rounded-pill" hidden="@(!IsStarted)" @onclick="ShowHideVerificaVincita"><div class="card-body">Verifica cartella</div></button>
                </div>
                <div class="col-auto">
                    <button class="card bg-primary text-white border-dark mb-3 rounded-pill" hidden="@(IsStarted)" @onclick="ShowHideRegistraCartella"><div class="card-body">Registra cartella</div></button>
                </div>
            </div>
            <div class="row" style="width:100%" hidden="@(!ShowModalRegistraCartella)">
                <div class="col-md-12" style="width:100%">
                    <div class="modal-header">
                        <h5 class="modal-title">Registra cartella</h5>
                        <button @onclick="ShowHideRegistraCartella" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <input class="form-control" @bind=registraCartellaId type="text" placeholder="Id" @bind:event="oninput" required>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero1 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero2 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero3 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero4 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero5 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <h5>1 riga</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero6 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero7 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero8 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero9 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero10 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <h5>2 riga</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero11 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero12 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero13 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero14 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" @bind=registraCasellaNumero15 type="number" min="1" max="90" @bind:event="oninput" required>
                            </div>
                            <div class="col-md-2">
                                <h5>3 riga</h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @onclick="SaveCartellaAsync" class="btn btn-primary">Salva</button>
                        <button type="button" @onclick="ShowHideRegistraCartella" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                    </div>
                </div>
            </div>
            <div class="row" hidden="@(!ShowModalVerificaVincita)">
                <div class="col-12">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Verifica cartella</h5>
                                <button @onclick="ShowHideVerificaVincita" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <input class="form-control" @bind=verificaCartellaId type="text" placeholder="Id" @bind:event="oninput" required>
                                    </div>
                                </div>                  <br />
                                <div class="row">
                                    <div class="col-12">
                                        <h5 hidden="@(VerifyCinquina || VerifyBingo || string.IsNullOrEmpty(verificaCartellaId))" class="text-danger font-weight-bold">
                                            Nessun premio, mi dispiace. <br /> <br />
                                            <i style="font-size:150px" class="fa-regular fa-face-frown"></i>
                                        </h5><br />
                                        <h5 hidden="@(!VerifyCinquina)" class="text-success font-weight-bold">Complimenti, hai vinto la cinquina!</h5><br />
                                        <h5 hidden="@(!VerifyBingo)" class="text-success font-weight-bold">Complimenti, hai vinto il Bingoo!</h5><br />
                                        <i style="font-size:150px" hidden="@(!VerifyCinquina && !VerifyBingo)" class="text-success fa-regular fa-face-smile-beam"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" @onclick="VerifyCartellaAsync" class="btn btn-primary">Verifica</button>
                                <button type="button" @onclick="ShowHideVerificaVincita" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="buyedAndPricedCartel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informazioni preliminari</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input disabled="@IsStarted" type="number" @bind=numCaselle placeholder="numero caselle vendute:" class="form-control" @bind:event="oninput" />
                    </div>                             
                    <br />
                    <br />
                    <div class="col-md-12">
                        <input disabled="@IsStarted" type="number" @bind=price placeholder="prezzo di ogni casella:" class="form-control" @bind:event="oninput" />
                    </div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="StartAsync">Avvia partita</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="manageCartel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestisci cartelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Salva</button>
            </div>
        </div>
    </div>
</div>

@code {
    private int currentCount = 0;

    private string numCaselle = "", price = "";
    private string? registraCartellaId, registraCasellaNumero1, registraCasellaNumero2, registraCasellaNumero3, registraCasellaNumero4, registraCasellaNumero5,
    registraCasellaNumero6, registraCasellaNumero7, registraCasellaNumero8, registraCasellaNumero9, registraCasellaNumero10,
    registraCasellaNumero11, registraCasellaNumero12, registraCasellaNumero13, registraCasellaNumero14, registraCasellaNumero15;

    private string? verificaCartellaId;

    List<int> allNumbers = new(), numberExtracted = new() { };
    Random random = new();
    SpeechSynthesisVoice? _italianVoice;

    private bool ShowPanel { get; set; } = false;
    private bool IsStarted { get; set; } = false;
    private bool IsPaused { get; set; } = false;
    private bool VerifyCinquina { get; set; } = false;
    private bool VerifyBingo { get; set; } = false;
    private bool SpeakInProgress { get; set; } = false;
    private bool ShowModalRegistraCartella { get; set; } = false;
    private bool ShowModalVerificaVincita { get; set; } = false;
    private int Velocity { get; set; } = 3;
    private string Errors { get; set; }
    private int? LastNumberExtracted => this.numberExtracted?.TakeLast(1)?.FirstOrDefault();
    private List<Cartella> Cartelle { get; set; }
    [Inject] private SpeechSynthesis SpeechSynthesis { get; set; }

    private decimal Cinquina()
    {
        int.TryParse(numCaselle, out var numCaselleToInt);
        decimal.TryParse(price.Replace(".", ","), NumberStyles.Float, new CultureInfo("it-IT"), out var priceToDecimal);

        if (numCaselleToInt == 0 || priceToDecimal == 0)
            return 0;

        return Math.Round((numCaselleToInt * priceToDecimal) * 20 / 100, 2);
    }

    private decimal Bingo()
    {
        int.TryParse(numCaselle, out var numCaselleToInt);
        decimal.TryParse(price.Replace(".", ","), NumberStyles.Float, new CultureInfo("it-IT"), out var priceToDecimal);

        if (numCaselleToInt == 0 || priceToDecimal == 0)
            return 0;

        return Math.Round((numCaselleToInt * priceToDecimal) * 80 / 100, 2);
    }

    private List<int> Last4ExtractedNumbers => (numberExtracted?.Any() ?? false) ? numberExtracted.SkipLast(1).TakeLast(4).ToList() : new List<int>();
    private int TotExtractedNumbers => numberExtracted?.Count ?? 0;
    private bool SpeechAvailable => this._italianVoice is not null;
    private bool NoErrors => string.IsNullOrEmpty(this.Errors);
    private int TotCartelle => this.Cartelle?.Count ?? 0;
    private string GameVelocity => Velocity switch
    {
        1 => "Super Rapido",
        2 => "Rapido",
        3 => "Normale",
        4 => "Lento",
        5 => "Super Lento",
        _ => "Normale"
    };

    void SpeakStarted(object? sender, EventArgs args) => this.SpeakInProgress = true;
    void SpeakEnded(object? sender, EventArgs args) => this.SpeakInProgress = false;
    private bool IsExtracted(int number) => numberExtracted.Contains(number);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await PrepareAsync();
            await LoadTextToSpeechIfNeededAsync();
            await LoadCartelleAsync();
        }
    }

    private async Task PrepareAsync()
    {
        this.random = new();
        this.numberExtracted.Clear();
        this.allNumbers.Clear();
        this.ShowModalVerificaVincita = false;
        this.ShowModalRegistraCartella = false;
        LoadAllNumbers();
        await LoadTextToSpeechIfNeededAsync();

        this.IsStarted = false;
        this.IsPaused = false;
        await InvokeAsync(() => StateHasChanged());

        void LoadAllNumbers()
        {
            //for (int i = 1; i < 91; i++) allNumbers.Add(i);
            List<int> temporaryNumbers = new();
            for (int i = 1; i < 91; i++) temporaryNumbers.Add(i);

            Random random = new();

            for (int i = 1; i < 91; i++)
            {
                int numeroCasuale = temporaryNumbers[random.Next(0, temporaryNumbers.Count)];
                allNumbers.Add(numeroCasuale);
                temporaryNumbers.Remove(numeroCasuale);
            }
        }
    }

    async Task LoadTextToSpeechIfNeededAsync()
    {
        if (this._italianVoice is not null)
            return;

        var allVoices = (await this.SpeechSynthesis.GetVoicesAsync())?.ToList();
        var italianVoice = allVoices?.FirstOrDefault(voice => voice.Lang == "it-IT");
        if (italianVoice is null)
            return;

        this._italianVoice = italianVoice;
        this.SpeechSynthesis.UtteranceStarted += SpeakStarted;
        this.SpeechSynthesis.UtteranceEnded += SpeakEnded;
        StateHasChanged();
    }

    private async Task StartAsync()
    {
        this.Errors = string.Empty;
        if (string.IsNullOrEmpty(this.numCaselle) || string.IsNullOrEmpty(this.price))
        {
            this.Errors = "Prima di procedere, è necessario indicare le caselle vendute e il relativo prezzo unitario.";
            StateHasChanged();
            return;
        }

        await PrepareAsync();
        IsStarted = true;
        _ = Task.Run(async () =>
        {
            while (true)
            {
                if (SpeakInProgress)
                    continue;

                if (IsPaused)
                    continue;

                if (allNumbers.Count == 0 || !IsStarted)
                {
                    Stop();
                    break;
                }

                int numberIndex = random.Next(0, allNumbers.Count);
                int randomNumber = allNumbers[numberIndex];
                if (numberExtracted.Contains(randomNumber))
                    continue;

                numberExtracted.Add(randomNumber);
                allNumbers.Remove(randomNumber);
                await SpeakAsync(randomNumber);

                await InvokeAsync(() => StateHasChanged());
                Thread.Sleep(Velocity * 1000);
            }
        });

        async Task SpeakAsync(int number)
        {
            var message = number.ToString();
            if ((message.StartsWith("6") || message.StartsWith("7")) && message.Length == 2)
                message += Environment.NewLine + message.ElementAt(0).ToString() + " " + message.ElementAt(1).ToString();

            await this.SpeechSynthesis.SpeakAsync(new SpeechSynthesisUtterance()
                {
                    Text = message,
                    Voice = this._italianVoice
                }); // 👈 Speak!
        }
    }

    private void Pause()
    {
        this.ShowModalVerificaVincita = false;
        IsPaused = !IsPaused;
        this.Errors = string.Empty;
        StateHasChanged();
    }

    private async void Stop()
    {
        this.numCaselle = "";
        this.price = "";
        await this.PrepareAsync();
    }

    private async Task SaveCartellaAsync()
    {
        this.Errors = string.Empty;
        if (Cartelle?.Any(cartella => cartella.Id == registraCartellaId) ?? false)
        {
            this.Errors = "L'id della cartella che si sta registrando esiste già. Prova un altro id.";
            StateHasChanged();
            return;
        }

        var cartella = new Cartella()
            {
                Id = registraCartellaId,
                FirstRow = new()
                {
                    registraCasellaNumero1,
                    registraCasellaNumero2,
                    registraCasellaNumero3,
                    registraCasellaNumero4,
                    registraCasellaNumero5,
                },
                SecondRow = new()
                {
                    registraCasellaNumero6,
                    registraCasellaNumero7,
                    registraCasellaNumero8,
                    registraCasellaNumero9,
                    registraCasellaNumero10,
                },
                ThirdRow = new()
                {
                    registraCasellaNumero11,
                    registraCasellaNumero12,
                    registraCasellaNumero13,
                    registraCasellaNumero14,
                    registraCasellaNumero15,
                }
            };

        try
        {
            cartella.ValidateOrThrowException();
        }
        catch (Exception ex)
        {
            this.Errors = ex.Message;
            StateHasChanged();
            return;
        }

        (Cartelle ??= new()).Add(cartella);
        await SaveCartelleAsync();

        registraCartellaId = registraCasellaNumero1 = registraCasellaNumero2 = registraCasellaNumero3 = registraCasellaNumero4 = registraCasellaNumero5 =
        registraCasellaNumero6 = registraCasellaNumero7 = registraCasellaNumero8 = registraCasellaNumero9 = registraCasellaNumero10 =
        registraCasellaNumero11 = registraCasellaNumero12 = registraCasellaNumero13 = registraCasellaNumero14 = registraCasellaNumero15 = string.Empty;
        StateHasChanged();
    }

    private async Task SaveCartelleAsync()
    {
        if (!File.Exists("cartelle.json")) File.Create("cartelle.json");

        await File.WriteAllTextAsync("cartelle.json", JsonSerializer.Serialize(Cartelle));
    }

    private async Task LoadCartelleAsync()
    {
        if (!File.Exists("cartelle.json")) return;

        var cartelleContent = await File.ReadAllTextAsync("cartelle.json");
        if (!string.IsNullOrEmpty(cartelleContent))
        {
            try
            {
                this.Cartelle = JsonSerializer.Deserialize<List<Cartella>>(cartelleContent);
            }
            finally
            {
                StateHasChanged();
            }
        }
    }

    private async Task VerifyCartellaAsync()
    {
        this.Errors = string.Empty;
        if (string.IsNullOrEmpty(verificaCartellaId))
        {
            this.Errors = "Senza Id non posso effettuare nessun controllo.";
            StateHasChanged();
            return;
        }

        var cartellaToVerify = this.Cartelle.FirstOrDefault(cartella => cartella.Id == verificaCartellaId);
        if (cartellaToVerify is not null)
        {
            //verifico cinquina
            bool cinquina = cartellaToVerify.FirstRow.All(number => IsExtracted(Convert.ToInt32(number))) ||
                cartellaToVerify.SecondRow.All(number => IsExtracted(Convert.ToInt32(number))) ||
                cartellaToVerify.ThirdRow.All(number => IsExtracted(Convert.ToInt32(number)));
            VerifyCinquina = cinquina;

            //verifico bingo
            bool bingoo = cartellaToVerify.FirstRow.All(number => IsExtracted(Convert.ToInt32(number))) &&
            cartellaToVerify.SecondRow.All(number => IsExtracted(Convert.ToInt32(number))) &&
            cartellaToVerify.ThirdRow.All(number => IsExtracted(Convert.ToInt32(number)));
            VerifyBingo = bingoo;
        }
        else
        {
            this.Errors = "L'id non è registrato in alcuna cartella.";
        }

        StateHasChanged();
    }

    private void ShowHideRegistraCartella()
    {
        this.ShowModalVerificaVincita = false;
        this.ShowModalRegistraCartella = !this.ShowModalRegistraCartella;
        StateHasChanged();
    }

    private void ShowHideVerificaVincita()
    {
        this.ShowModalRegistraCartella = false;
        this.ShowModalVerificaVincita = !this.ShowModalVerificaVincita;
        this.VerifyCinquina = this.VerifyBingo = false;
        verificaCartellaId = string.Empty;

        StateHasChanged();
    }

}