﻿@using System.Globalization;
@using System.Threading;
@using Toolbelt.Blazor.SpeechSynthesis;

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-right mb-4">
            <h3><i>created by Giuseppe Veriello</i></h3>
        </div>
    </div>
    <div class="row" style="margin-top: 5%">
        <div class="col-md-3 text-center mb-4">
            <h3>Let's Bingoo!</h3>
            <div class="btn-group" role="group" aria-label="Player buttons">
                <button type="button" class="btn btn-lg btn-primary rounded-circle" hidden="@(IsStarted)" @onclick="StartAsync"><i class="fa-2x fa-solid fa-play p-2"></i></button>
                <button type="button" class="btn btn-lg btn-light rounded-circle" hidden="@(!IsStarted)" @onclick="Pause"><i class="fa-2x fa-solid fa-pause p-2"></i></button>
                <button type="button" class="btn btn-lg btn-danger rounded-circle" hidden="@(!IsStarted || IsPaused)" @onclick="Stop"><i class="fa-2x fa-solid fa-stop p-2"></i></button><br />
            </div><br /><br />
            <h4 class="text-danger font-weight-bold blinking-text" hidden="@(!IsPaused)">Gioco in pausa</h4>
            <h4 class="text-danger" hidden="@(SpeechAvailable)">Attenzione: voce non disponibile</h4>
            <div class="card mb-3 rounded-pill">
                <div class="card-body">
                    <h4>Velocità di gioco: @GameVelocity</h4>
                    <input type="range" class="form-control-range" min="1" max="5" step="1" @bind="@Velocity" @bind:event="oninput" />
                </div>
            </div>
            <hr />
            <div>
                <h4>Calcolo rapido delle vincite:</h4>
                <input disabled="@IsStarted" type="number" @bind=numCaselle placeholder="numero caselle vendute:" class="form-control" />         <br />
                <input disabled="@IsStarted" type="number" @bind=price placeholder="prezzo di ogni casella:" class="form-control" />   <br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card bg-primary text-white border-dark mb-3 rounded-pill">
                        <div class="card-body">
                            <h4>Cinquina: €@Cinquina()</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-success text-white border-dark mb-3 rounded-pill">
                        <div class="card-body">
                            <h4>Bingo: €@Bingo()</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @for (int row = 0; row < 9; row++)
            {
                <div style="margin-top:1%;" class="row">
                    @for (int number = Convert.ToInt32($"{row}{1}"); number < Convert.ToInt32($"{row + 1}{1}"); number++)
                    {
                        <div class="col-md-1" style="margin-left: 10px">
                            <div class="circle text-dark rounded-circle" style="background-color: @(IsExtracted(number) ? "red": "white");">
                                <span style="color: @(IsExtracted(number) ? "white": "black");" class="number">@number</span>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-md-3">

            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h4>Totale numeri estratti: @TotExtractedNumbers</h4>
                </div>
            </div>
            <div class="card border-dark mb-3 rounded-pill">
                <div class="card-body">
                    <h4 class="text-left">Ultimo numero estratto: @LastNumberExtracted</h4>
                </div>
            </div>
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h4 class="text-left">Ultimi 5 numeri estratti: @Last5ExtractedNumbers</h4>
                </div>
            </div>
            @* <hr />
            <button class="btn btn-primary" disabled="@(!IsStarted)" @onclick="Verify">Verifica cartella</button>
            <button class="btn btn-primary" @onclick="Register">Registra cartella</button> *@
        </div>
    </div>
</div>

@code {
    private int currentCount = 0;

    private string numCaselle = "", price = "";
    List<int> allNumbers = new(), numberExtracted = new() { };
    Random random = new();
    SpeechSynthesisVoice? _italianVoice;

    private bool ShowPanel { get; set; } = false;
    private bool IsStarted { get; set; } = false;
    private bool IsPaused { get; set; } = false;
    private bool SpeakInProgress { get; set; } = false;
    private int Velocity { get; set; } = 3;
    private string LastNumberExtracted { get; set; } = "-";
    [Inject] private SpeechSynthesis SpeechSynthesis { get; set; }

    private decimal Cinquina()
    {
        int.TryParse(numCaselle, out var numCaselleToInt);
        decimal.TryParse(price.Replace(".", ","), NumberStyles.Float, new CultureInfo("it-IT"), out var priceToDecimal);

        if (numCaselleToInt == 0 || priceToDecimal == 0)
            return 0;

        return Math.Round((numCaselleToInt * priceToDecimal) * 20 / 100, 2);
    }

    private decimal Bingo()
    {
        int.TryParse(numCaselle, out var numCaselleToInt);
        decimal.TryParse(price.Replace(".", ","), NumberStyles.Float, new CultureInfo("it-IT"), out var priceToDecimal);

        if (numCaselleToInt == 0 || priceToDecimal == 0)
            return 0;

        return Math.Round((numCaselleToInt * priceToDecimal) * 80 / 100, 2);
    }


    private string Last5ExtractedNumbers => (numberExtracted?.Any() ?? false) ? string.Join(", ", numberExtracted.TakeLast(5)) : "-";
    private int TotExtractedNumbers => numberExtracted?.Count ?? 0;
    private bool SpeechAvailable => this._italianVoice is not null;
    private string GameVelocity => Velocity switch
    {
        1 => "Super Rapido",
        2 => "Rapido",
        3 => "Normale",
        4 => "Lento",
        5 => "Super Lento",
        _ => "Normale"
    };

    void SpeakStarted(object? sender, EventArgs args) => this.SpeakInProgress = true;
    void SpeakEnded(object? sender, EventArgs args) => this.SpeakInProgress = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await PrepareAsync();
            await LoadTextToSpeechIfNeededAsync();
        }
    }

    private async Task PrepareAsync()
    {
        this.random = new();
        this.numberExtracted.Clear();
        this.allNumbers.Clear();
        this.LastNumberExtracted = "-";
        this.numCaselle = "";
        this.price = "";
        LoadAllNumbers();
        await LoadTextToSpeechIfNeededAsync();

        this.IsStarted = false;
        this.IsPaused = false;
        StateHasChanged();

        void LoadAllNumbers()
        {
            //for (int i = 1; i < 91; i++) allNumbers.Add(i);
            List<int> temporaryNumbers = new();
            for (int i = 1; i < 91; i++) temporaryNumbers.Add(i);

            Random random = new();

            for (int i = 1; i < 91; i++)
            {
                int numeroCasuale = temporaryNumbers[random.Next(0, temporaryNumbers.Count)];
                allNumbers.Add(numeroCasuale);
                temporaryNumbers.Remove(numeroCasuale);
            }
        }
    }

    async Task LoadTextToSpeechIfNeededAsync()
    {
        if (this._italianVoice is not null)
            return;

        var allVoices = (await this.SpeechSynthesis.GetVoicesAsync())?.ToList();
        var italianVoice = allVoices?.FirstOrDefault(voice => voice.Lang == "it-IT");
        if (italianVoice is null)
            return;

        this._italianVoice = italianVoice;
        this.SpeechSynthesis.UtteranceStarted += SpeakStarted;
        this.SpeechSynthesis.UtteranceEnded += SpeakEnded;
        StateHasChanged();
    }

    private async Task StartAsync()
    {
        await PrepareAsync();
        IsStarted = true;
        _ = Task.Run(async () =>
        {
            while (true)
            {
                if (SpeakInProgress)
                    continue;

                if (IsPaused)
                    continue;

                if (allNumbers.Count == 0 || !IsStarted)
                {
                    Stop();
                    break;
                }

                int numberIndex = random.Next(0, allNumbers.Count);
                int randomNumber = allNumbers[numberIndex];
                if (numberExtracted.Contains(randomNumber))
                    continue;

                LastNumberExtracted = randomNumber.ToString();
                numberExtracted.Add(randomNumber);
                allNumbers.Remove(randomNumber);
                await SpeakAsync(randomNumber);

                await InvokeAsync(() => StateHasChanged());
                Thread.Sleep(Velocity * 1000);
            }
        });

        async Task SpeakAsync(int number)
        {
            var message = number.ToString();
            if (message.StartsWith("6") || message.StartsWith("7"))
                message += Environment.NewLine + message.ElementAt(0).ToString() + " " + message.ElementAt(1).ToString();

            await this.SpeechSynthesis.SpeakAsync(new SpeechSynthesisUtterance()
                {
                    Text = message,
                    Voice = this._italianVoice
                }); // 👈 Speak!
        }
    }

    private void Pause()
    {
        IsPaused = !IsPaused;
        StateHasChanged();
    }

    private async void Stop() => this.PrepareAsync();

    private void Register()
    {

    }

    private void Verify()
    {

    }

    private bool IsExtracted(int number) => numberExtracted.Contains(number);
}