<div class="container-fluid">
    @* <div class="row">
    <div class="col-md-12 text-right mb-4">
    <h3><i>created by Giuseppe Veriello</i></h3>
    </div>
    </div> *@
    <div class="row">
        <div class="col-md-4 text-left">
            <div class="btn-group" role="group" aria-label="Player buttons">
                <button type="button" class="btn btn-lg btn-light rounded-circle" disabled="@(IsStarted)" data-toggle="modal" data-target="#buyedAndPricedCartel"><i class="fa-2x fa-solid fa-play p-2"></i></button>&nbsp;
                <button type="button" class="btn btn-lg btn-light rounded-circle" disabled="@(!IsStarted)" @onclick="Pause"><i class="fa-2x fa-solid fa-pause p-2"></i></button> &nbsp;
                <button type="button" class="btn btn-lg btn-light rounded-circle" disabled="@(!IsStarted || IsPaused)" @onclick="Stop"><i class="fa-2x fa-solid fa-stop p-2"></i></button><br />
                <span class="text-center" style="margin-left: 10px; margin-right: 10px; font-size: 50px;">|</span>
                <button type="button" @onclick="@Pause" class="btn btn-lg btn-light rounded-circle" data-toggle="modal" data-target="#manageCartel"><i class="fa-2x fa-solid fa-edit p-2"></i></button> &nbsp;
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h1>Let's Bingoo!</h1>
            <h4 class="text-danger font-weight-bold blinking-text" hidden="@(!IsPaused)">Gioco in pausa</h4>
            <h4 class="text-danger" hidden="@(SpeechAvailable)">Attenzione: voce non disponibile</h4>
        </div>
        <div class="col-md-2 offset-md-2 text-center">
            <h5>Velocità di gioco: @GameVelocity</h5>
            <input type="range" class="form-control-range" min="1" max="5" step="1" @bind="@Velocity" @bind:event="oninput" />
        </div>
    </div>    <br /> <br />

    <div class="row">
        <div class="col-md-3">
            <div class="trophy-card c-bingoo border border-secondary bg-white">
                <div class="container-fluid">
                    <h2><i class="fa-solid fa-trophy text-warning"></i> Bingoo</h2>
                    <h5 class="lead">Premio: € @Bingo()</h5>
                </div>
            </div>
            <div class="trophy-card c-cinquina border border-secondary bg-white">
                <div class="container-fluid">
                    <h3><i class="fa-solid fa-trophy text-warning"></i> Cinquina</h3>
                    <h5 class="lead">Premio: € @Cinquina()</h5>
                </div>
            </div>
            @if (LastNumberExtracted != 0)
            {
                <div class="text-center mt-5 mb-3 " style="border-radius: 10px; padding: 20px">
                    <h3>Ultimi estratti</h3>
                    <div class="d-flex justify-content-center">
                        <div class="last-extracted-circle text-dark rounded-circle" style="background-color: red;">
                            <span style="color: white;" class="text-center">@(LastNumberExtracted.Value.ToString() ?? "-")</span>
                        </div>

                        @foreach (var number in Last4ExtractedNumbers)
                        {
                            <div style="margin-left: -2px; padding: 5px">
                                <div class="circle text-dark rounded-circle" style="background-color: black">
                                    <span style="color: white" class="number text-center">
                                        @number
                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="text-center">
                    <h5 class=""><i>Totale numeri estratti:</i> @TotExtractedNumbers</h5>
                </div>
            }
        </div>
        <div class="col-md-9">
            @for (int row = 0; row < 9; row++)
            {
                <div style="margin-top:1%;" class="row">
                    @for (int number = Convert.ToInt32($"{row}{1}"); number < Convert.ToInt32($"{row + 1}{1}"); number++)
                    {
                        <div class="col-md-1" style="margin-left: 10px">
                            <div class="circle text-dark rounded-circle" style="background-color: @(IsExtracted(number) ? "red": "white");">
                                <span style="color: @(IsExtracted(number) ? "white": "black");" class="number text-center">@number</span>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="buyedAndPricedCartel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informazioni preliminari</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" hidden="@(NoErrors)">
                    @Errors
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input disabled="@IsStarted" type="number" @bind=numCaselle placeholder="numero caselle vendute:" class="form-control" @bind:event="oninput" />
                    </div>
                    <br />
                    <br />
                    <div class="col-md-12">
                        <input disabled="@IsStarted" type="number" @bind=price placeholder="prezzo di ogni casella:" class="form-control" @bind:event="oninput" />
                    </div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@(() => { price = ""; numCaselle = ""; })">Annulla</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="StartAsync">Avvia partita</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="manageCartel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestisci cartelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button disabled="@(!IsStarted)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#verificaVittoria" aria-expanded="true" aria-controls="verificaVittoria">
                                    Verifica vittoria
                                </button>
                            </h2>
                        </div>

                        <div id="verificaVittoria" class="collapse" aria-labelledby="headingOne" data-parent="#verificaVittoria">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="cursor: pointer" id="basic-addon1" @onclick="@(() => verificaCartellaId = string.Empty)">X</span>
                                            </div>
                                            <input class="form-control" @bind=verificaCartellaId type="text" placeholder="Inserisci l'id da controllare" @bind:event="oninput" required>
                                        </div>
                                    </div>
                                </div>                  <br />
                                <div class="row">
                                    <div class="col-12">
                                        <h5 hidden="@(VerifyCinquina || VerifyBingo || string.IsNullOrEmpty(verificaCartellaId))" class="text-danger text-center font-weight-bold">
                                            Nessun premio, mi dispiace. <br /> <br />
                                            <i style="font-size:150px" class="fa-regular fa-face-frown"></i><br />
                                        </h5>

                                        <div hidden="@(!VerifyCinquina && !VerifyBingo)">
                                            <h5 class="text-success text-center font-weight-bold">
                                                Complimenti!                            <br /> <br />
                                                <i style="font-size:150px" class="fa-regular fa-face-smile-beam"><br /></i>
                                            </h5>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @{
                                                        var cartellaDaControllare = Cartelle?.FirstOrDefault(cartella => cartella.Id == verificaCartellaId);
                                                        if (cartellaDaControllare is not null)
                                                        {
                                                            <div class="row">
                                                                @for (var column = 0; column < 9; column++)
                                                                {
                                                                    string numberToCheck = cartellaDaControllare.FirstRow.FirstOrDefault(number => Convert.ToInt32(number) >= rangeColumns[column].Item1 && Convert.ToInt32(number) <= rangeColumns[column].Item2);
                                                                    bool isExtracted = !string.IsNullOrEmpty(numberToCheck) && IsExtracted(Convert.ToInt32(numberToCheck));

                                                                    <div class="col" style="border: solid; color: @(isExtracted ? "red": "black")">
                                                                        @numberToCheck
                                                                    </div>


                                                                    // <div class="col" style="margin-left: 10px">
                                                                    //     <div class="circle text-dark rounded-circle" style="background-color: @(isExtracted ? "red": "white")">
                                                                    //         <span style="color: @(isExtracted ? "white": "black");" class="text-center">@numberToCheck</span>
                                                                    //     </div>
                                                                    // </div>
                                                                }
                                                            </div>
                                                            <div class="row">
                                                                @for (var column = 0; column < 9; column++)
                                                                {
                                                                    string numberToCheck = cartellaDaControllare.SecondRow.FirstOrDefault(number => Convert.ToInt32(number) >= rangeColumns[column].Item1 && Convert.ToInt32(number) <= rangeColumns[column].Item2);
                                                                    bool isExtracted = !string.IsNullOrEmpty(numberToCheck) && IsExtracted(Convert.ToInt32(numberToCheck));

                                                                    <div class="col" style="border: solid; color: @(isExtracted ? "red": "black")">
                                                                        @numberToCheck
                                                                    </div>
                                                                }
                                                            </div>
                                                            <div class="row">
                                                                @for (var column = 0; column < 9; column++)
                                                                {
                                                                    string numberToCheck = cartellaDaControllare.ThirdRow.FirstOrDefault(number => Convert.ToInt32(number) >= rangeColumns[column].Item1 && Convert.ToInt32(number) <= rangeColumns[column].Item2);
                                                                    bool isExtracted = !string.IsNullOrEmpty(numberToCheck) && IsExtracted(Convert.ToInt32(numberToCheck));

                                                                    <div class="col" style="border: solid; color: @(isExtracted ? "red": "black")">
                                                                        @numberToCheck
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#visualizzaCartella" aria-expanded="false" aria-controls="visualizzaCartella">
                                    Visualizza cartella
                                </button>
                            </h2>
                        </div>
                        <div id="visualizzaCartella" class="collapse" aria-labelledby="headingTwo" data-parent="#visualizzaCartella">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="cursor: pointer" id="basic-addon1" @onclick="@(() => visualizzaCartellaId = string.Empty)">X</span>
                                            </div>
                                            <input class="form-control" @bind=visualizzaCartellaId type="text" placeholder="Inserisci l'id da controllare" @bind:event="oninput" required>
                                        </div>
                                    </div>
                                </div>                  <br />
                                <div class="row" hidden="@(string.IsNullOrEmpty(visualizzaCartellaId))">
                                    <div class="col-md-12">
                                        @{
                                            var cartellaDaMostrare = Cartelle?.FirstOrDefault(cartella => cartella.Id == visualizzaCartellaId);
                                            if (cartellaDaMostrare is not null)
                                            {
                                                <div class="row">
                                                    @for (var column = 0; column < 9; column++)
                                                    {
                                                        <div class="col" style="border: solid">
                                                            @cartellaDaMostrare.FirstRow.FirstOrDefault(number => Convert.ToInt32(number) >= rangeColumns[column].Item1 && Convert.ToInt32(number) <= rangeColumns[column].Item2)
                                                        </div>
                                                    }
                                                </div>
                                                <div class="row">
                                                    @for (var column = 0; column < 9; column++)
                                                    {
                                                        <div class="col" style="border: solid">
                                                            @cartellaDaMostrare.SecondRow.FirstOrDefault(number => Convert.ToInt32(number) >= rangeColumns[column].Item1 && Convert.ToInt32(number) <= rangeColumns[column].Item2)
                                                        </div>

                                                    }
                                                </div>
                                                <div class="row">
                                                    @for (var column = 0; column < 9; column++)
                                                    {
                                                        <div class="col" style="border: solid">
                                                            @cartellaDaMostrare.ThirdRow.FirstOrDefault(number => Convert.ToInt32(number) >= rangeColumns[column].Item1 && Convert.ToInt32(number) <= rangeColumns[column].Item2)
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button disabled="@(IsStarted)" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registraCartella" aria-expanded="false" aria-controls="registraCartella">
                                    Registra cartella
                                </button>
                            </h2>
                        </div>
                        <div id="registraCartella" class="collapse" aria-labelledby="headingThree" data-parent="#registraCartella">
                            <div class="card-body">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <input class="form-control" @bind=registraCartellaId type="text" placeholder="Id" @bind:event="oninput" required>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero1 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero2 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero3 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero4 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero5 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <h5>1 riga</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero6 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero7 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero8 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero9 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero10 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <h5>2 riga</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero11 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero12 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero13 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero14 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" @bind=registraCasellaNumero15 type="number" min="1" max="90" @bind:event="oninput" required>
                                        </div>
                                        <div class="col-md-2">
                                            <h5>3 riga</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" @onclick="SaveCartellaAsync" class="btn btn-primary">Inserisci</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <h4>Totale cartelle caricate: @TotCartelle</h4>
            </div>
        </div>
    </div>
</div>